@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --Dark--cyan: hsl(185, 75%, 39%);
    --Very--dark--desaturated--blue: hsl(229, 23%, 23%);
    --Dark--grayish--blue: hsl(227, 10%, 46%);
    --Dark--gray: hsl(0, 0%, 59%)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

img {
    width: 90px;
    height: 90px;
    display: block;
}

body {
    background-color: var(--Dark--cyan);
}

.container {
    min-height: 100vh;
    display: grid;
    place-items: center;
    padding: 1rem;
    text-align: center;

}

.card__container {
    width: 310px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

.card__img {
    display: flex;
    justify-content: center;
    position: relative;
    height: 8rem;
    width: 100%;
    background-size: cover;
    background-image: url(/images/bg-pattern-card.svg);
}

.card__img>img {
    border-radius: 50%;
    border: 5px solid white;
    position: absolute;
    bottom: -2.8rem;
}

.card__info {
    padding: 3.8rem 0 1.5rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    color: var(--Very--dark--desaturated--blue);
}

.card__info>h3>span {
    color: var(--Dark--gray);
    font-weight: 400;
}

.card__info>p {
    font-size: small;
    font-weight: 400;
    color: var(--Dark--grayish--blue);
}

.card__stats {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    padding: 2rem 2rem;
    border-top: 1px solid rgb(233, 233, 233);
    width: 100%;
}

.stats {
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

.stats>span {
    font-weight: 800;
    font-size: 1.2rem;
    color: var(--Very--dark--desaturated--blue);
}

.stats>p {
    font-size: 0.7rem;
    letter-spacing: 1.2px;
    color: var(--Dark--grayish--blue);
}

#bg-top {
    position: absolute;
    top: -200px;
    left: -320px;
    width: 500px;
    height: 500px;
}

#bg-bottom {
    position: fixed;
    bottom: -330px;
    right: -510px;
    width: 700px;
    height: 700px;
}

@media (min-width:600px) {
    .card__container {
        width: 350px;
    }

}


@media (min-width:1012px) {

    #bg-top {
        position: absolute;
        top: -600px;
        left: -280px;
        width: 1000px;
        height: 950px;
    }

    #bg-bottom {
        position: fixed;
        bottom: -600px;
        right: -310px;
        width: 1000px;
        height: 1000px;
    }
}